body{
    background:lightcyan;
}

.header {
    margin-left: 5%;
    margin-top: 2%;
    margin-right: 5%;
    display: flex;
}

.header_element {
    width: 50%;
}

.logout_button {
    float: right;
}

.filesharing_button{
    /*Begin citation for https://stackoverflow.com/questions/9612758/add-a-css-border-on-hover-without-moving-the-element*/
    border: 1px solid transparent;
    /*End of citation*/
    border-radius:6px;
    cursor:pointer;
    background:black;
    color:white;
    /*Begin citation for https://stackoverflow.com/questions/19469495/css-slow-hover-effect*/
    transition: all .4s ease;
    /*end citation*/
}

.filesharing_button:hover{
    background: lightcyan;
    color:black;
    border:1px solid black;
}

.filesharing_label {
    font-size: 25px;
    font-weight: bold;
}

.options_container{
    display:flex;
    justify-content: space-between;
}
.inner_div input{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border:0;
    width:100%;
    border-bottom: 1px solid black;
    padding: 5px 1px;
    outline:none;
}

.submit_button {
    padding: 5%;
}

.options{
    background: white;
    display:flex;
    flex-direction: column;
    margin:5%;
    border-radius: 6px;
    border: 1px solid black;
}

.inner_div{
    padding: 5%;
    height: 200px;
}

.files_list_container {
    margin-left: 5%;
}