body{
    background:lightcyan;
}

.header-element {
    display: inline-block;
    width: 39%;
    margin-left: 5%;
    margin-right: 5%;
}

.return_button{
    /*Begin citation for https://stackoverflow.com/questions/9612758/add-a-css-border-on-hover-without-moving-the-element*/
    border: 1px solid transparent;
    /*End of citation*/
    border-radius:6px;
    cursor:pointer;
    background:black;
    color:white;
    /*Begin citation for https://stackoverflow.com/questions/19469495/css-slow-hover-effect*/
    transition: all .4s ease;
    /*end citation*/
    float: right;
}

.return_button:hover{
    background: lightcyan;
    color:black;
    border:1px solid black;
}

.intermediate_container {
    background: white;
    display:flex;
    flex-direction: column;
    margin-left:40%;
    margin-top: 5%;
    width: 20%;
    border-radius: 6px;
    border: 1px solid black;
}

.status-container {
    margin-left: 5%;
    margin-bottom: 5%;
    font-size: 20px;
}